# Copie ce fichier en ".env" et remplis tes vraies valeurs.
# Le fichier ".env" ne doit JAMAIS être envoyé sur Git (voir .gitignore).

APP_ENV=local
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=starter_db
DB_USER=root
DB_PASSWORD=
